text {
    font-family: "Open Sans", Arial, sans-serif;
  }
  
  general_text {
    color: white;
    font-size: 40px;
    font-family: inherit;
    font-weight: 800;
    position: absolute;
    top: 10px;
  }
  
  button_invite {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    left: 5px;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button_invite:focus,
  button_invite:hover {
    color: #fff;
  }
  
  button_invite:focus:after,
  button_invite:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button_invite:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
  button_pp {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    left: 35px;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button_pp:focus,
  button_pp:hover {
    color: #fff;
  }
  
  button_pp:focus:after,
  button_pp:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button_pp:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
  button_ss {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    left: 15px;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button_ss:focus,
  button_ss:hover {
    color: #fff;
  }
  
  button_ss:focus:after,
  button_ss:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button_ss:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
  
  button_like {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    left: 25px;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button_like:focus,
  button_like:hover {
    color: #fff;
  }
  
  button_like:focus:after,
  button_like:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button_like:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
  
   body {
    background-color: #1F1E1F;
   }
  
  button1:focus,
  button1:hover {
    color: #fff;
  }
  
  button1:focus:after,
  button1:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button1:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
  Text-Cute {
    font-size: 25px;
    color: #0a7bfd;
    font-family: inherit;
    font-weight: 800;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    left: 3px;
  }
  
  .card {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 400px;
    height: 360px;
    background-image: linear-gradient(163deg, #0a7bfd 0%, #0a7bfd 100%);
    border-radius: 20px;
    transition: all .3s;
    text-align: center;
   }
   
   .card2 {
    width: 400px;
    height: 360px;
    background-color: #1a1a1a;
    border-radius: 19px;
    transition: all .2s;
   }
  
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 128, 255, 0.3);
   }
  
  CardText1 {
    font-size: 30px;
    color: #0a7bfd;
    font-family: inherit;
    font-weight: 800;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-align: center;
  }
  
  CardText2 {
    font-size: 19px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 800;
    position: absolute;
    top: 14%;
    left: 10px;
    right: 10px;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .card3 {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 400px;
    height: 360px;
    background-image: linear-gradient(163deg, #0a7bfd 0%, #0a7bfd 100%);
    border-radius: 20px;
    transition: all .3s;
    text-align: center;
   }
   
   .card4 {
    width: 400px;
    height: 360px;
    background-color: #1a1a1a;
    border-radius: 19px;
    transition: all .2s;
   }
  
   .card4:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card4:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 128, 255, 0.3);
   }
  
   .card5 {
    position: absolute;
    top: 15%;
    right: 35%;
    left: 38%;
    width: 450px;
    height: 410px;
    background-image: linear-gradient(163deg, #0a7bfd 0%, #0a7bfd 100%);
    border-radius: 20px;
    transition: all .3s;
    text-align: center;
   }
   
   .card6 {
    width: 450px;
    height: 410px;
    background-color: #1a1a1a;
    border-radius: 19px;
    transition: all .2s;
   }
  
   .card6:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card6:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 128, 255, 0.3);
   }
  
   button {
    width: 200px;
    height: 60px;
    border: 3px solid #0a7bfd;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 70%;
    right: 45%;
    border-radius: 20px;
  }
  
  button:hover {
    background: #0a7bfd;
    color: white;
    font-size: 1.5em;
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  pp {
    font-size: 25px;
    color: white;
    font-family: inherit;
    font-weight: 800;
    position: absolute;
    top: 90%;
    left: 2%;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  pp2 {
    font-size: 20px;
    color: white;
    font-family: inherit;
    font-weight: 800;
    position: absolute;
    top: 94%;
    left: 2%;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button_ai {
    font-size: 20px;
    color: #0a7bfd;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    left: 5px;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button_ai:focus,
  button_ai:hover {
    color: #fff;
  }
  
  button_ai:focus:after,
  button_ai:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button_ai:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  CardText3 {
    font-size: 30px;
    color: #0a7bfd;
    font-family: inherit;
    font-weight: 800;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-align: center;
  }
  
  CardText4 {
    font-size: 19px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 800;
    position: absolute;
    top: 14%;
    left: 10px;
    right: 10px;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
