text {
  size: 10px;
  font-family: 'Montserrat', sans-serif;
}

button_head {
  size: 50px;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button_invite {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  left: 5px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button_invite:focus,
button_invite:hover {
  color: #fff;
}

button_invite:focus:after,
button_invite:hover:after {
  width: 100%;
  left: 0%;
}

button_invite:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

button_pp {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  left: 35px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button_pp:focus,
button_pp:hover {
  color: #fff;
}

button_pp:focus:after,
button_pp:hover:after {
  width: 100%;
  left: 0%;
}

button_pp:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

button_ss {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  left: 15px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button_ss:focus,
button_ss:hover {
  color: #fff;
}

button_ss:focus:after,
button_ss:hover:after {
  width: 100%;
  left: 0%;
}

button_ss:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


button_like {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  left: 25px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button_like:focus,
button_like:hover {
  color: #fff;
}

button_like:focus:after,
button_like:hover:after {
  width: 100%;
  left: 0%;
}

button_like:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

button_stats {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  left: 35px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button_stats:focus,
button_stats:hover {
  color: #fff;
}

button_stats:focus:after,
button_stats:hover:after {
  width: 100%;
  left: 0%;
}

button_stats:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


body {
  background-color: #1F1E1F;
 }

button1:focus,
button1:hover {
  color: #fff;
}

button1:focus:after,
button1:hover:after {
  width: 100%;
  left: 0%;
}

button1:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

Text-Cute {
  font-size: 25px;
  color: #0a7bfd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  left: 3px;
}

pp {
  size: 50px;
  font-size: 25px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  position: absolute;
  top: 90%;
  left: 2%;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

pp2 {
  size: 50px;
  font-size: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  position: absolute;
  top: 94%;
  left: 2%;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}


textfaq {
  size: 50px;
  font-size: 31px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 20%;
  left: 180px;
  right: 40px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

premium-faq {
   size: 50px;
   font-size: 31px;
   color: #ffffff;
   font-family: inherit;
   font-weight: 800;
   position: absolute;
   top: 20%;
   right: 350px;
   border: none;
   background: none;
   text-transform: uppercase;
   transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
   transition-duration: 400ms;
   transition-property: color;
 }

pp-faq {
  size: 50px;
  font-size: 21px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 20%;
  right: 50px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-align: center;
}

pp-text1 {
  size: 50px;
  font-size: 25px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 32%;
  right: 0px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-align: center;
}

pp-text2 {
  size: 50px;
  font-size: 23px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 60%;
  right: 0px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-align: center;
}

pp-text2-g {
  size: 50px;
  font-size: 40px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 54%;
  right: 500px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-align: center;
}

CardText3 {
  size: 50px;
  font-size: 30px;
  color: #0a7bfd;
  font-family: inherit;
  font-weight: 800;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-align: center;
}

CardText4 {
  size: 50px;
  font-size: 17.5px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 14%;
  left: 10px;
  right: 10px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.container2 {
  size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box2 {
  size: 50px;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
  position: absolute;
  top: 30%;
  left: 60%;
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  cursor: pointer;
  transition: all .3s;
}

.card_box2:hover {
  size: 50px;
  transform: scale(0.9);
}

.card_box2 span {
  size: 50px;
  position: absolute;
  width: 150px;
  height: 150px;
  top: -40px;
  left: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box2 span::before {
  size: 50px;
  content: 'На месяц';
  position: absolute;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  font-family: "Open Sans", Arial, sans-serif;
}

.card_box2 span::after {
  size: 50px;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
}



.container3 {
  size: 50px;
  display: flex;
}

.card_box3 {
  size: 50px;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
  position: absolute;
  top: 30%;
  right: 60%;
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  cursor: pointer;
  transition: all .3s;
}

.card_box3:hover {
  size: 50px;
  transform: scale(0.9);
}

.card_box3 span {
  size: 50px;
  position: absolute;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box3 span::before {
  size: 50px;
  content: 'Навсегда';
  position: absolute;
  top: 25px;
  left: 135px;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "Open Sans", Arial, sans-serif;
}

.card_box3 span::after {
  size: 50px;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
}


button_premium {
  size: 50px;
  font-size: 25px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  top: 730px;
  left: 735px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button_premium:focus,
button_premium:hover {
  color: #fff;
  size: 50px;
}

button_premium:focus:after,
button_premium:hover:after {
  width: 100%;
  left: 0%;
  size: 50px;
}

button_premium:after {
  size: 50px;
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

p1 {
  size: 50px;
  font-size: 20px;
  color: #0a7bfd;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 100px;
  right: 20px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  font-family: "Open Sans", Arial, sans-serif;
}


p2 {
  size: 50px;
  font-size: 20px;
  color: #0a7bfd;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 130px;
  left: -100px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  font-family: "Open Sans", Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {  
  --purple: rgb(24, 89, 174);
  --violet: rgb(14, 105, 215);
  --pink: rgb(22, 157, 230);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}

logo {
  font-size: 60px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 5px;
  font-weight: 900;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 10px;
  right: 10px;
}

logo > .magic {
  size: 50px;
  display: inline-block;
  position: relative;
}

logo > .magic > .magic-star {
  size: 50px;
  --size: clamp(20px, 1.5vw, 30px);
  
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

logo > .magic > .magic-star > svg {
  size: 50px;
  animation: rotate 1500ms linear infinite;
  display: block;
  opacity: 0.7;
}

logo > .magic > .magic-star > svg > path {
  size: 50px;
  fill: #4279f0c5;
}

logo > .magic > .magic-text {
  size: 50px;
  animation: background-pan 6s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

server-info {
  size: 20px;
  font-size: 21px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 75%;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

rb-info {
  size: 20px;
  font-size: 21px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 75%;
  left: 70px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

faq-1 {
  size: 20px;
  font-size: 21px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  position: absolute;
  top: 75%;
  left: 70px;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
